.Sidebar {
  width: 300px;
  height: calc(100vh - 50px);
  position: relative;
  transition: width 0.5s;
  background-color: var(--inverted-bg-color);
}

.switchers {
  position: absolute;
  bottom: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.toggleBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.items {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-top: 30px;
}

.item {
  display: flex;
  align-items: center;
}

.icon {
  fill: var(--primary-color);
}

.link {
  margin-left: 15px;
  opacity: 1;
  transition: opacity 0.3s;
}

.collapsed {
  width: 80px;

  .link {
    width: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }
}
