.AuthForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.input {
  width: 100%;
  margin-top: 10px;
}

.btn {
  margin-top: 15px;
  margin-left: auto;
}

.title {
  text-align: center;
}
