.title {
  font-size: var(--font-size-l);
  color: var(--primary-color);
}

.text {
  font-size: var(--font-size-m);
  color: var(--secondary-color);
}

.error {
  .title {
    color: var(--text-red-main);
  }

  .text {
    color: var(--text-red-secondary);
  }
}
