.app.dark {
  --bg-color: rgb(53 52 52);
  --inverted-bg-color: rgb(87 67 67);
  --primary-color: rgb(217 240 239);
  --secondary-color: rgb(159 174 173);
  --inverted-primary-color: rgb(83 132 142);
  --inverted-secondary-color: rgb(76 41 41);
}
